* {
  margin: 0;
}

h1 {
  font-family: "Bellefair", serif;
  font-size: 150px;
  font-weight: 400;
}

h2 {
  font-family: "Bellefair", serif;
  font-size: 100px;
}

h3 {
  font-family: "Bellefair", serif;
  font-size: 56px;
}

h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
}

h5 {
  color: #d0d6f9;
  font-family: "Bellefair", serif;
  font-size: 28px;
  font-weight: 400;
  word-spacing: 4.75px;
  line-height: 34px;
}

P {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}
